<head>
	<link href="catalog/view/theme/default/stylesheet/common/breadcrumbs.css" type="text/css" rel="stylesheet"/>
	<link href="catalog/view/theme/default//stylesheet/common/product.css" type="text/css" rel="stylesheet"/>
	<link href="catalog/view/theme/default//stylesheet/common/shop.css" type="text/css" rel="stylesheet"/>
</head>

{{header}}
<div class="shop">
	{% if breadcrumbs %}
		<div class="breadcrumbs">
			{% for breadcrumb in breadcrumbs %}
				<div>
					{% if loop.last %}
						<span class="last">{{ breadcrumb.text }}</span>
					{% else %}
						<a class="link" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
						<span>
							/
						</span>
						<!-- Разделитель -->
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% endif %}

	 <div id="categories-menu" class="modal-menu">
        <div class="top">
            <div class="title">Kategorie produktów</div>
            <span class="close-btn" id="categories-menu-close">&times;</span>
        </div>
        <div class="categories-list">
            {% for category in shop_categories %}
                <a href="{{ category.href }}">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>

<div id="parameters-menu" class="modal-menu">
        <div class="top">
            <div class="title">Sortowanie</div>
            <span class="close-btn" id="parameters-menu-close">&times;</span>
        </div>
        <div class="checkbox-container">
            <label><input type="radio" name="sort" class="parameters-radio" value="default"> Domyślne sortowanie</label>
            <label><input type="radio" name="sort" class="parameters-radio" value="popularity"> Sortuj wg popularności</label>
            <label><input type="radio" name="sort" class="parameters-radio" value="rating"> Sortuj wg średniej oceny</label>
            <label><input type="radio" name="sort" class="parameters-radio" value="newest"> Sortuj od najnowszych</label>
            <label><input type="radio" name="sort" class="parameters-radio" value="price-asc"> Sortuj po cenie od najniższej</label>
            <label><input type="radio" name="sort" class="parameters-radio" value="price-desc"> Sortuj po cenie od najwyższej</label>
        </div>
    </div>


	<div class="title">
		Sklep
	</div>
	<div class="sorters">
		<div id="categories-sort" class="sorter"><img src="image/catalog/assets/categories_ico.svg"/><p>Kategorie produktów</p>
		</div>
		<div id="parameters-sort" class="sorter"><img src="image/catalog/assets/sorting_ico.svg"/><p>Domyślne sortowanie</p>
		</div>

	</div>
	<div id="products-list" class="products-list"></div>
	<div id="pagination" class="pagination"></div>

	
</div>


{{ footer }}
		<script type="text/javascript" src="catalog/view/javascript/common.js"></script>
		<script type="text/javascript" src="catalog/view/javascript/products/createProductCard.js"></script>
		<script type="text/javascript" src="catalog/view/javascript/shop/shop.js"></script>
