<head>
	<link href="catalog/view/theme/default/stylesheet/common/breadcrumbs.css" type="text/css" rel="stylesheet"/>
	<link href="catalog/view/theme/default//stylesheet/common/product.css" type="text/css" rel="stylesheet"/>
	<link href="catalog/view/theme/default//stylesheet/common/shop.css" type="text/css" rel="stylesheet"/>
</head>

{{header}}
<div class="shop">
	{% if breadcrumbs %}
		<div class="breadcrumbs">
			{% for breadcrumb in breadcrumbs %}
				<div>
					{% if loop.last %}
						<span class="last">{{ breadcrumb.text }}</span>
					{% else %}
						<a class="link" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
						<span>
							/
						</span>
						<!-- Разделитель -->
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% endif %}

	<div id="categories-menu" class="modal-menu">
		<div class="top">
			<div class="title">Kategorie produktów</div>
			<span class="close-btn" id="categories-menu-close">&times;</span>
		</div>
		<div class="checkbox-container">
			<label><input type="checkbox" class="category-checkbox" value="konfitury">
				Konfitury</label>
			<label><input type="checkbox" class="category-checkbox" value="kremy smarowidla">
				Kremy i smarowidła</label>
			<label><input type="checkbox" class="category-checkbox" value="maluchy w spichlerzu">
				Maluchy w Spichlerzu</label>
			<label><input type="checkbox" class="category-checkbox" value="miody">
				Miody</label>
			<label><input type="checkbox" class="category-checkbox" value="owoce w syropie">
				Owoce w syropie</label>
			<label><input type="checkbox" class="category-checkbox" value="przetwory-warzywne">
				Przetwory warzywne</label>
			<label><input type="checkbox" class="category-checkbox" value="syropy">
				Syropy</label>
			<label><input type="checkbox" class="category-checkbox" value="zestawy prezentowe">
				Zestawy prezentowe</label>
		</div>
	</div>

<div id="parameters-menu" class="modal-menu">
        <div class="top">
            <div class="title">Sortowanie</div>
            <span class="close-btn" id="parameters-menu-close">&times;</span>
        </div>
        <div class="checkbox-container">
            <label><input type="radio" name="sort" class="parameters-radio" value="default"> Domyślne sortowanie</label>
            <label><input type="radio" name="sort" class="parameters-radio" value="popularity"> Sortuj wg popularności</label>
            <label><input type="radio" name="sort" class="parameters-radio" value="rating"> Sortuj wg średniej oceny</label>
            <label><input type="radio" name="sort" class="parameters-radio" value="newest"> Sortuj od najnowszych</label>
            <label><input type="radio" name="sort" class="parameters-radio" value="price-asc"> Sortuj po cenie od najniższej</label>
            <label><input type="radio" name="sort" class="parameters-radio" value="price-desc"> Sortuj po cenie od najwyższej</label>
        </div>
    </div>


	<div class="title">
		Sklep
	</div>
	<div class="sorters">
		<div id="categories-sort" class="sorter"><img src="image/catalog/assets/categories_ico.svg"/><p>Kategorie produktów</p>
		</div>
		<div id="parameters-sort" class="sorter"><img src="image/catalog/assets/sorting_ico.svg"/><p>Domyślne sortowanie</p>
		</div>

	</div>
	<div id="products-list" class="products-list"></div>
	<div id="pagination" class="pagination"></div>

	<div class="additional">
		<div class="block">
			<div class="additional-info-title">Konfitury – to nie tylko dżem, to skarb każdej domowej spiżarni</div>
			<div class="additional-info-plot">Jak zamknąć słodycz słonecznych dni w szczelnym słoiczku? Znamy odpowiedź na to pytanie. W tej kategorii znajdziesz godne uwagi pyszne i gęste konfitury z malin, konfitury z wiśni, konfitury z kiwi, konfitury z brzoskwini czy powidło śliwkowe. Dzięki którym, w prosty sposób, będziesz mógł cieszyć się smakiem i witaminami przez cały rok. Prezentujemy także przetwory z dodatkiem korzennych przypraw i alkoholu. Bez wątpienia te ostatnie doskonale sprawdzą się na letnim garden party. Otwórz się na smak przeszłości!</div>
		</div>
		<div class="block">
			<div class="additional-info-title">Tradycyjne specjały – konfitura z Krakowa</div>
			<div class="additional-info-plot">Owocowe przetwory Spichlerz z pewnością rozpromienią każdy pochmurny dzień i umilą wieczory przy filiżance herbaty. Do mięs, do serów lub do herbaty? Nic nie stoi na przeszkodzie, aby wykorzystać konfiturę z kawałkami owoców do smarowania kanapek i naleśników bądź jako dodatek do herbaty, do serów, do mięs, drożdżówek, bułeczek, rogalików, ciast i lodów. Niezależnie od metody podania, domowe bezglutenowe z kiwi, pomarańczy, ananasa czy borówki królują na stole: ich wyjątkowy smak, naturalny kolor i urzekający zapach uwiodą każdego.</div>
		</div>
		<div class="block">
			<div class="additional-info-title">Przetwory owocowe domowej roboty – synonim zdrowia</div>
			<div class="additional-info-plot">Sklepowe produkty nie mogą równać się z samodzielnie przygotowanymi dżemem. Konfitury Spichlerz powstają w oparciu o tradycyjne receptury, które są stosowane z najstarszych rodzinnych przepisów kulinarnych. Producent przetworów owocowych Spichlerz robi wysokiej klasy produkty. Przede wszystkim próżno szukać w nich sztucznych barwników, polepszaczy smaku – są zrobione bez konserwantów. Każdy dżem przygotowywany jest wyłącznie z dojrzałych i starannie wyselekcjonowanych owoców. Dzięki temu przetwory domowej roboty w słoiczkach są przepełnione owocowym aromatem, ale i obfitują w cenne składniki odżywcze. Miłośnicy naturalnej, zdrowej kuchni mogą więc na stałe wprowadzić do swojej diety słodkie powidła śliwkowe, konfiturę z brzoskwini, mango czy z malin. Proponowane specjały zamknięto w szklanych słoiczkach i ozdobiono etykietami. Dzięki nim w domowej spiżarni od razu zrobi się przytulnie.</div>
		</div>
		<div class="block">
			<div class="additional-info-title">Lubisz przetwory domowej roboty? Wypróbuj nowe smaki marki Spichlerz!</div>
			<div class="additional-info-plot">Mamy coś dla wielbicieli kiwi, entuzjastów konfitury pomarańczowej i miłośników dżemu z żurawiny. Proponowane przetwory domowej roboty są wolne od konserwantów i sztucznych barwników. Nie znajdziesz też w nich dużej zawartości cukru – dojrzałe owoce same w sobie są słodkie, więc w konfiturach pełnią role naturalnego konserwantu.</div>
		</div>
	</div>
</div>


{{ footer }}
<script type="text/javascript" src="catalog/view/javascript/common.js"></script>
<script type="text/javascript" src="catalog/view/javascript/products/createProductCard.js"></script>
<script type="text/javascript" src="catalog/view/javascript/shop/shop.js"></script>
