{{ header }}
<div class="shop">
    {% if breadcrumbs %}
        <div class="breadcrumbs">
            {% for breadcrumb in breadcrumbs %}
                <div>
                    {% if loop.last %}
                        <span class="last">{{ breadcrumb.text }}</span>
                    {% else %}
                        <a class="link" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                        <span>/</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div id="categories-menu" class="modal-menu">
        <div class="top">
            <div class="title">Kategorie produktów</div>
            <span class="close-btn" id="categories-menu-close">&times;</span>
        </div>
        <div class="categories-list">
            {% for category in categories %}
                <a href="{{ category.href }}">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>

    <div id="parameters-menu" class="modal-menu">
        <div class="top">
            <div class="title">Sortowanie</div>
            <span class="close-btn" id="parameters-menu-close">&times;</span>
        </div>
        <div class="checkbox-container">
            {% for sort_option in sorts %}
                <label>
                    <input type="radio" name="sort" class="parameters-radio" value="{{ sort_option.value }}" 
                    {% if sort_option.value == sort %}checked{% endif %}> 
                    {{ sort_option.text }}
                </label>
            {% endfor %}
        </div>
    </div>

    <div class="title">Sklep</div>

    <div class="sorters">
        <div id="categories-sort" class="sorter">
            <img src="image/catalog/assets/categories_ico.svg"/>
            <p>Kategorie produktów</p>
        </div>
        <div id="parameters-sort" class="sorter">
            <img src="image/catalog/assets/sorting_ico.svg"/>
            <p>Domyślne sortowanie</p>
        </div>
    </div>

    <div id="products-list" class="products-list">
        {% for product in products %}
        <div class="product-card">
            <div class="product-header">
                <div class="product-image">
                    <a href="{{ product.href }}">
                        <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
                    </a>
                </div>
            </div>
            <div class="name-price-block">
                <h4><a class="product-name" href="{{ product.href }}">{{ product.name }}</a></h4>
            </div>
            <div class="name-price-block">
                {% if product.price %}
                <p class="product-price">
                    {% if not product.special %}
                        {{ product.price }}
                    {% else %}
                        <span class="price-new">{{ product.special }}</span>
                        <span class="price-old">{{ product.price }}</span>
                    {% endif %}
                </p>
                {% endif %}
            </div>
            <div class="product-info">
                {% if product.rating %}
                <div class="product-rating">
                    {% for i in 1..5 %}
                        {% if product.rating < i %}<span>☆</span>{% else %}<span>★</span>{% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="product-actions">
                <button class="add-to-cart" type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">
                    DO KOSZYKA
                    <img src="image/catalog/assets/add_to_cart_ico.svg" />
                </button>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="pagination" class="pagination">{{ pagination }}</div>

    <div class="additional">
        <div class="block">
            <div class="additional-info-title">Konfitury – to nie tylko dżem, to skarb każdej domowej spiżarni</div>
            <div class="additional-info-plot">Jak zamknąć słodycz słonecznych dni w szczelnym słoiczku?...</div>
        </div>
    </div>
</div>

{{ footer }}

<script type="text/javascript" src="catalog/view/javascript/common.js"></script>
<script type="text/javascript" src="catalog/view/javascript/products/createProductCard.js"></script>
<script type="text/javascript" src="catalog/view/javascript/category/category.js"></script>
